@media(min-width:2000px)and (max-width:2300px){
    .footer{    height: 1000px;}
}
@media(min-width:2301px)and (max-width:5000px){
    .footer{    height: 1070px;}
}
@media(min-width:1601px)and (max-width:1919px){
    .request-demo-wrapper{height: 865px;}
    .request-demo-wrapper .container{margin-top: -190px;}
    .request-demo-wrapper .imag-wrapper img{    height: 500px;}
    .vission-c .imag-wrapper img{    height: 420px;}
    .the-problem-wrapper{    height: 900px;}
    .footer{height: 940px;}
    .footer{    background: #F3FEFC url(../images/footer.png) 100% 100% no-repeat;}
    .landing-header-wp .container{margin-top: -325px;}
    .landing-header-wp {height: 1000px !important;}

}
@media(min-width:1200px) and (max-width:1500px){
    .footer{    background: #f3fefd url(../images/footer.png) 100% 0% no-repeat !important; height: 750px !important; }
    .footer .stay-touch{margin-top: -137px; margin-bottom: 139px;}
    .brand-logo-wrapper .brand-logo ul li img{
        height: 48px !important;
    }
    .spwschool .imgblock img {
        height: 460px;
        min-width: 600px;
    }
    .spwschool{
        height: 1030px;
    }
    .becomschol.how-its-wok .details{margin-top: 100px;}
    .how-its-wok .details .process-w:last-child{margin: 100px 0;}
    .engge-becomeschol{height: 450px;}
    .engge-becomeschol .M-cont-top{margin-top: 0;}
    .real-lefe-world{height: 500px;}
    .real-lefe-world .M-cont-top{margin-top: -60px;}
    .new-percentage-a{    height: 270px;}

}
@media(max-width:1600px){
    .request-demo-wrapper{background: url(../images/request-bg.png) 100% 100% no-repeat; height: 818px;}
    .request-demo-wrapper .container{margin-top: -190px;}
    .request-demo-wrapper .imag-wrapper img{    height: 435px;}
    .volunteer-wrapper .slider:after{right: -30px;}
    .volunteer-wrapper .slider .owl-prev{    left: -40px;}
    .volunteer-wrapper .slider .owl-next{    right: -40px;}
    .vission-c .imag-wrapper{text-align: center;}
    .vission-c .imag-wrapper img{    height: 330px;}
    .the-problem-wrapper{    height: 818px;     background: url(../images/aboutp-bg.png) 100% 100% no-repeat;}
    .M-cont-top { margin-top: 25px;}
    .volunteras .imag-wrapper img{    height: 355px;}
    .faq-partner{ background-size: 100% !important;   background: url(../images/faq-bg.png) 100% 100% no-repeat;}
    .feedback-wrapper .slider .owl-dots{    bottom: -50px;}
    .volunteer-wrapper .slider:after{ right: -3%; top: 74%;} 
    .footer{    background: #f3fefd url(../images/footer.png) 100% 100% no-repeat; height: 1060px;}
    .volunteer-wrapper{    height: 1075px;}
    .content-wrapper p { margin: 25px 0;}
    .dyamicfq{height: 830px;}
    .advisor-howts{padding: 100px 0 50px 0;}
   
    .landing-header-wp.partner-s .container {margin-top: 100px;}
    .m-howitspartner{    margin-top: -240px;}
    .how-its-wok .details {margin-top: 0;}
    .how-its-wok {padding: 100px 0 0 0;}
    .how-its-wok .details .process-w img{height: 330px;}
    .volunteer-wrapper { background: url(../images/volunterr-bg.png) 100% 100% no-repeat;}
    .volunteer-wrapper .content-wrapper .rqust-demos-btn{    margin: 40px 0 0 0;}
    .the-problem-wrapper .imag-wrapper img{height: 350px;}
    .help-wrapper .img-wrper img.cs {height: 400px;}
    .help-wrapper .img-wrper img{    height: 690px;}
    .mission {margin-top: 80px;}
    section.help-wrapper{margin: 100px 0 0 0;}
    .unlockpotential .M-cont-top{margin-top: -75px;}
    .real-lefe-world.unlockpotential{
        height: 500px;
    }
    .landing-header-wp {
        background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
    height: 570px;
    }
    .landing-header-wp .container{
        margin-top:inherit;
    }
    .vission-c {
        background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
    height: 570px;
    }
    .vission-c .container{
        margin-top:inherit;
    }
    .partner-s{
        background: url(../images/request-bg.png) 100% 100% no-repeat;
         height: 818px;
    }
    .volunteras{
        background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
        height: 570px;
    }
    .volunteras .container{
        margin-top:inherit;
    }
    .volunteras .content-wrapper{
        margin-top: 0;
    }
    .csr-wrapper{
        background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
        height: 570px;
    }
    .csr-wrapper .container{
        margin-top: 0;
    }
    .vission-c .content-wrapper{
        margin-top: -35px;
    }
    .demand-p-wrapper{
        padding-top: 35px;
    }
    .the-problem-wrapper .content-wrapper{    padding-left: 30px; }

    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(1) img{    height: 36px !important;}
    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(3) img{    height: 36px !important;}
    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(5) img{    height: 65px !important;}
    .spwschool .imgblock{margin-top: 75px;}
    .spwschool{ padding-top: 0 !important;}
    .csr-wrapper .content-wrapper {
        margin-top: 0;
    }
    .csr-wrapper .imag-wrapper img {
        height: 360px !important;
        margin-top: -50px;
    }

}
@media(max-width:1330px){
    .request-demo-wrapper .content-wrapper h1 {font-size: 42px !important;}
    .content-wrapper .rqust-demos-btn a{font-size: 14px;}
    
    .heading{    font-size: 36px;}
    .volunteras .getemail .inputfield a{    font-size: 14px;}
    .see-al a{    font-size: 14px;}
    .advisor-howts .process-w .content-wrapper h3 { font-size: 36px;}
    .unlockpotential .getemail .inputfield a {font-size: 14px;}
    .getemail .inputfield a{    font-size: 18px;}
    .whyvolunteer-w .advantage .content-wrapper h5{    font-size: 18px;}
    .heading-tab-acc{ margin-top: 40px;   font-size: 26px;}
}
@media(max-width:1199px){
    .vission-c .container{margin-top: 0px;}
    .request-demo-wrapper {background: url(../images/request-bg.png) 100% 108% no-repeat; height: 725px;}
    .request-demo-wrapper .imag-wrapper {display: flex; align-items: center;height: 100%;}
    .request-demo-wrapper .imag-wrapper img{       height: 350px;}  
    .demand-p-wrapper{padding-top: 50px;     height: 1065px;}
    .volunteer-wrapper .slider .item p{    height: 160px;}
    .volunteer-wrapper .slider .owl-prev{    left: -20px;}
    .volunteer-wrapper .slider .owl-next{    right: -20px;}
    .volunteer-wrapper .slider:after{right: -15px;}
    .how-its-wok {padding: 100px 0 0 0;}
    .real-lefe-world{    height: 450px;}
    .feedback-wrapper .slider{    margin: 50px 0;}
    .footer .stay-touch{    margin-bottom: 90px;}
    .footer{height: 698px;   background:#f3fefd url(../images/footer.png) 100% 100% no-repeat;}
    .getemail .inputfield{ box-shadow:none;   flex-direction: column;}
    .getemail .inputfield input{ box-shadow: 0 6px 15px -1px rgba(0,104,255,0.2); margin: 15px 0;}
    .getemail .inputfield a{       justify-content: center; text-align: center;}
    .footer .stay-touch{    background: #fff url(../images/stay-touch-bg.png) 100% 0% no-repeat;}
    .feedback-wrapper{    height: 1092px;     background: url(../images/feedback-bg.png) 100% 100% no-repeat;}
    .vission-c .imag-wrapper img{    height: 305px;}
    .the-problem-wrapper{    margin: 50px 0;     background: url(../images/aboutp-bg.png) 100% 90% no-repeat;}
    .percentages h5{    height: 110px;}
    .for-middle-content {max-width: 65%;}
    .mission { margin-top: 100px;}
    .smal-team-wrapper{height: 760px;}
    .M-cont-top{margin-top: 0;}
    .volunteras .imag-wrapper img{    height: 305px;}
    .volunteras .getemail .inputfield input {width: 100%;}
    .volunteras .getemail .inputfield a{width: 100%;}
    .whyvolunteer-w {padding: 100px 0;}
    .whyvolunteer-w .advantage {margin-top: 100px;}
    .whyvolunteer-w .advantage .content-wrapper { padding: 0 0px;}
    .frequently-asked{padding: 100px 0 ;}
    .advisor-howts{padding: 100px 0 0 0 !important;}
    .unlockpotential .getemail {margin-top: 20px;}
    .csr-wrapper .imag-wrapper img {height: 290px !important;}
    .faq-partner{    height: 740px; padding: 0 0;}
    .volunteras .container{margin-top: 0;}
    .ab-footer{height: 895px;}
    .request-demo-wrapper .content-wrapper h1 { font-size: 45px !important;}
    .volunteer-wrapper .slider .owl-next{    height: 40px;  width: 40px;}
    .volunteer-wrapper .slider .owl-prev{    height: 40px;  width: 40px;}
    .volunteer-wrapper .slider .owl-next:after{background-size: 65%;     top: 0; }
    .volunteer-wrapper .slider .owl-prev:after{background-size: 65%;       left: 18%;  top: 0;}
    .brand-logo-wrapper .brand-logo ul{display: flex;}
    .unlockpotential .getemail .inputfield input{width: 100%;}
    .unlockpotential .getemail .inputfield{background: transparent;}
    .footer .footer-link.fl-last{padding-left: 60px;}
    .become-ad-slider{height: 885px;}
    .see-feq-full .footer { height: 810px;}
    .new-percentage-a{height: auto;     margin-bottom: -120px;}
    .landing-header-wp.partner-s .container {margin-top: 0;}
  
    .m-howitspartner {margin-top: -230px;}
    .m-howitspartner.how-its-wok .details {
        margin-top: 0;
    }
    .landing-header-wp {
        background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
    height: 570px;
    }
    .landing-header-wp .container{
        margin-top:inherit;
    }
    .partner-s {height: 970px;     background: url(../images/request-bg.png) 100% 0 no-repeat;}
   .requirements{
       padding: 0 0 100px 0;
   }
   .whyadvisorsection{
    padding: 50px 0 100px 0;
   }
   .whyusepropair{
    padding: 0 0 100px 0;
   }
   .landing-header-wp .imag-wrapper img{height: 375px; width: 100%;}
   .copyright-section {
    margin-top: 0;
}
   .brand-logo-wrapper{margin: 0 0;}
   .vission-c{
    background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
    height: 570px;
}
.vission-c .content-wrapper {
    margin-top: 95px;
}

   /* .firsttopcard .card{margin-top: 0 ;} */
   .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li img{height: 48px;}
   .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(2) img{    height: 65px !important;}
   .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(5) img{    height: 52px !important;}
   .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li{    display: flex;     align-items: center;}
   .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(3) img {
    height: 32px !important;
}
.spwschool{    height: 950px;}
.engge-becomeschol{    margin-top: 70px; height: 410px;}
.volunteras {
    background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
    height: 570px;
}
.unlockpotential .M-cont-top{margin-top: 0px;}
.real-lefe-world.unlockpotential{
    height: 410px;
    margin-top: 100px;
}
.landing-studentcrft{
    height: 410px;
}
.csr-wrapper {
    background: url(../images/request-bg-LAPTOP.png) 100% 100% no-repeat;
    height: 570px;
}
.volunteras .content-wrapper{
    margin-top: 40px;
}
.partner-s{
    margin-top: 70px;
}
.copyright-section div ul{
    margin: 50px 0;
}
}
@media(max-width:991px){
    .real-lefe-world {height: 400px;}
    .footer {height: 770px;}
    .footer .footer-link {padding-left: 0;}
    .request-demo-wrapper .imag-wrapper img {    height: 310px;
        width: 405px;}
    .request-demo-wrapper .content-wrapper h1 {font-size: 28px !important;}
    .content-wrapper p{    line-height: 24px;       margin: 20px 0;    }
    .request-demo-wrapper{height: 625px;}
    .request-demo-wrapper .content-wrapper {margin-top: 45px;}
    .content-wrapper .rqust-demos-btn a{    font-size: 13px;}
    .brand-logo-wrapper{margin: 00px 0 0px 0;}
    .heading{ font-size: 28px;}
    .demand-p-wrapper{height: 1000px;}
    .volunteer-wrapper .slider .item p { height: 170px; line-height: 24px;}
    .volunteer-wrapper{background: url(../images/volunterr-bg.png) 100% 70% no-repeat; height: 940px;}
    .volunteer-wrapper .slider .item{    padding: 35px 25px;}
    .how-its-wok {padding: 50px 0;}
    .real-lefe-world {height: 317px;}
    .how-its-wok .details .process-w {margin: 50px 0;}
    .vission-c .imag-wrapper img{height: 230px;}
    .vission-c .content-wrapper {padding-right: 10px;}
    .the-problem-wrapper .content-wrapper {padding-left: 10px; margin-top: 0;}
    .percentages h5 {height: 135px;}
    .percentages .content-wrapper { padding: 0 0px;}
    .smal-team-wrapper {height: 655px;}
    .the-problem-wrapper .imag-wrapper{display: flex;}
    .volunteer-wrapper .slider .owl-next {right:-25px; background-size: 35px !important;height: 35px;width: 35px;}
    .volunteer-wrapper .slider .owl-prev {left: -25px; background-size: 35px !important;height: 35px;width: 35px;}
    .volunteer-wrapper .slider .owl-prev:after{    left:5px; top: -3px;    font-size: 25px;}
    .volunteer-wrapper .slider .owl-next:after{right:9px;top: -3px;     font-size: 25px;}
    .volunteras .imag-wrapper img{    height: 235px;}
    .whyvolunteer-w { padding: 50px 0;}
    .whyvolunteer-w .advantage {margin-top: 50px;}
    .frequently-asked{padding:50px 0;}
    .frequently-asked #accordion .card .card-header h5 .btn-link{    font-size: 16px;}
    .see-al a{margin-top: 40px;}
    .how-its-wok .details {  margin-top: 50px;}
    .advisor-howts {padding: 50px 0 !important;}
   #navbarNav{display: none;}
   .csr-wrapper .imag-wrapper img {height:215px !important;}
   .ab-footer{height: 895px;}
   .footer .branding-footer p{margin-top: 0;}
    .nav-link.login{padding: 7px 0 !important; margin:15px auto 0 auto; max-width: 200px; }
    .getemail ul { display: flex;margin: 35px 0 0 0;}
    .adnew.whyvolunteer-w .advantage .content-wrapper h5{margin-bottom: 15px;}
    .copyright-section {margin-top: 00px;}
    .whyusepropair .advantage .content-wrapper p { height: 185px;margin-top: 40px;}
    .frequently-asked #accordion .card .card-header{padding: 10px 20px;}
    .see-al a {margin-top: 5px; }
    .frequently-asked #accordion .card{ margin: 15px 0;}
    .become-ad-slider{    background: url(../images/feedback-bg.png) 100% 100% no-repeat; height: 810px;}
    .landing-header-wp .content-wrapper p br{display: none;}
    .footer .footer-link{padding-left: 0;}
    .footer .footer-link.fl-last{padding-left: 0;}
    .see-feq-full .frequently-asked {padding: 60px 0 120px 0;}
    .see-feq-full .frequently-asked #accordion .card .card-header h5 .btn-link {font-size: 16px;}
    .width-sel{margin-top: 30px;}

    .becomepartnerscl-dw.demand-p-wrapper .cards-wrapper .cards {
        margin: 20px 0;
    }
    .header .navbar-light .navbar-toggler{
        border-color: rgba(0,0,0,.0);
        color: #454545;
    }
    .landing-header-wp{height: 504px;}
    .brand-logo-wrapper .brand-logo ul li:nth-child(1) img{height: 42px;}
    .landinghowitswork.how-its-wok .details .process-w:last-child{margin-bottom:0 ;}
    .request-demo-wrapper .imag-wrapper img {
        height: 283px;
        width: 369px;
    }
    .volunteer-wrapper .slider{margin: 0 0 60px 0;}
    .how-its-wok .details .process-w img {
        height: auto;
    }
    .feedback-wrapper {
        height: 970px;
        padding: 50px 0;
    }
    .copyright-section div ul{
        margin-top: 50px;
    }
    .vission-c{
        height: 504px;
    }
    .help-wrapper .img-wrper img.cs {
        height: 340px;
    }
    .the-problem-wrapper .imag-wrapper{
        align-items: center;
    }
    .addvhelpyour{
        height: 370px;
    }
    .smal-team-wrapper{
        height: 800px;
    }
    .smal-team-wrapper .l-img-wrp{
        align-items: center;
    }
    .smal-team-wrapper h3 span:before{
        top: -20px;
    }
    .smal-team-wrapper h3{
        margin-top: 35px;
    }
    .partner-s{
        height: auto;
    }
    .spwschool .imgblock img {
        height: 385px;
        min-width: 520px;
    }
    .request-demo-wrapper.partner-s .textlft {
        padding-top: 0px;
    }
    .partner-s .textlft{
        margin-top: 0px;
    }
    .partner-s .demand-p-wrapper {
        height: auto;
    }
    .spwschool{
        height: 870px;
    }
    .m-howitspartner {
        margin-top: -155px;
    }
    .engge-becomeschol{margin-top: 0;}
    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(1) img {
        height: 32px !important;
    }
    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(3) img {
        height: 27px !important;
    }
    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(5) img {
        height: 46px !important;
    }
    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li img {
        height: 40px;
    }
    .demand-p-wrapper .tickerbox.content-wrapper {
        margin-top: 78px;
    }
    .m-howitspartner{padding: 50px 0 0 0;}
    .volunteras{
        height: 504px;
    }
    .real-lefe-world.unlockpotential{
        margin-top: 0;
        height: 317px;
    }
    .become-ad-slider{
        height: 800px;
    }
    .csr-wrapper{
        height: 505px;
    }
    .csr-wrapper .content-wrapper p br{display: none;}
    .faq-partner.dyamicfq{
        height: 565px;
    }
   
}
@media(max-width:767px){
    .copyright-section div ul {
        margin: 0;
    }
    .unlockpotential{  background: #f4fefd !important; padding: 25px 0;}
    .adnew.whyvolunteer-w .advantage .content-wrapper h5 {margin-bottom: 0px;}
    .volunteras{  background: #f4fefd !important; padding: 50px 0;}
    .csr-wrapper{    background: #f4fefd !important; padding: 50px 0;}
    .csr-wrapper .imag-wrapper img {
        height: 286px !important;
        margin-top: 50px;
    }
    .whyusepropair h2.heading{
        font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;
    }
    .whyusepropair.whyvolunteer-w .advantage .content-wrapper h5{font-size: calc(1.4rem + (1.6000000000000014 * (100vw - 400px)/ 624));}
    .whyvolunteer-w .advantage {margin-top: 10px;}
    .whyvolunteer-w .advantage .content-wrapper h5{height: auto;     font-size: 18px;}
    .vission-c{padding: 25px 0;}
    .percentages h6 {font-size: 14px;}
    .help-wrapper .for-middle-content {margin-bottom: 35px;}
    .request-demo-wrapper .container{margin-top: 0;}
    .request-demo-wrapper .content-wrapper {margin-top: 0px; text-align: center; }
    .content-wrapper .rqust-demos-btn{justify-content: center;}
    .request-demo-wrapper{height:100%;background: none;}
    .landing-header-wp {    background: #f4fefd;padding: 50px 0;background-size: 100%;}
    .request-demo-wrapper .imag-wrapper{justify-content: center; margin-top: 50px; align-items: flex-start;}
    .request-demo-wrapper .imag-wrapper img {
        height: 348px;
        width: 100%;
    }
    .header .navbar-light .navbar-toggler-icon{
        font-size: 18px;
    }
    .faq-partner{ background: #f4fefd;}
    .branding-footer { height: 100%;}
    .brand-logo-wrapper .brand-logo ul { display: block;}
    .demand-p-wrapper .left-contaner{text-align: center; margin-bottom: 50px;}
    .brand-logo-wrapper .brand-logo ul li img{margin: 5px 37px;}
    .volunteer-wrapper .slider:after{background: none;} 
    .demand-p-wrapper{    margin:0 0 50px 0; height: auto;     padding:50px 0; background:#f4fefd;}
    .how-its-wok .details .process-w h3{ font-size: calc(1.4rem + (1.6000000000000014 * (100vw - 400px)/ 624));}
    .how-its-wok .details .process-w .content-wrapper p {      margin: 25px 0 5px 0; line-height: 24px;}
    .how-its-wok .details .process-w .content-wrapper p br{display: none;}
    .header .navbar {padding: 15px 0;}
    .request-demo-wrapper .content-wrapper h1 {  font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;}
    .content-wrapper p {margin: 25px 0;}
    .content-wrapper .rqust-demos-btn a{      padding: 14px 0!important;   max-width: 130px; }
    .demand-p-wrapper h2 span:before{  display: none;}
    .volunteer-wrapper .slider .item .owner h4{    font-size: 20px;}
    .demand-p-wrapper h2.heading{font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;}
    .brand-logo-wrapper{     margin:50px 0 50px 0;     padding: 0px 0;}
    .demand-p-wrapper .cards-wrapper .cards{ margin: 15px 0;   padding: 15px 15px; text-align: center;     display: inline-block;}
    .demand-p-wrapper .cards-wrapper .cards .content-wrapper{align-items: center;}
    .demand-p-wrapper .cards-wrapper .cards .content-wrapper h3{    font-size: calc(1.4rem + (1.6000000000000014 * (100vw - 400px)/ 624));}
    .feedback-wrapper .slider .item .user-detail{justify-content: center;     margin: 35px 0 0 0;}
    .demand-p-wrapper .cards-wrapper .cards .content-wrapper img{    margin-bottom: 15px;}
    .demand-p-wrapper .cards-wrapper .cards .content-wrapper p {margin: 25px 0;}
    .how-its-wok h3.heading{    font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) ;}
    .demand-p-wrapper .mattop {margin-top: 0px;}
    .volunteer-wrapper {padding:50px 0 0 0; background:none;  height: 100%;}
    .volunteer-wrapper h3.heading{    font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;}
    .volunteer-wrapper .content-wrapper h3 span:before{    top: -10px;}
    .volunteer-wrapper .content-wrapper p{margin: 15px 0;}
    .volunteer-wrapper .slider{margin:0;}
    .volunteer-wrapper .slider .owl-dots{ bottom:0px;}
    .volunteer-wrapper .content-wrapper .rqust-demos-btn {margin: 35px 0 0 0;}
    .volunteer-wrapper .slider:after{display:none;}
    .volunteer-wrapper .slider .item{padding:20px 15px; box-shadow: 3px 5px 17px -7px rgba(0,104,255,0.2);   height: 100%;}
    .volunteer-wrapper .slider .owl-prev{ top: 45%;}
    .volunteer-wrapper .slider .owl-next{ top: 45%;     right: -22px;}
    .how-its-wok {padding: 50px 0;}
    .how-its-wok .details {margin-top: 0;}
    .how-its-wok .details .process-w { margin:50px 0;}
    .how-its-wok .details .process-w img{display: none;}
    .how-its-wok .details .content-wrapper{padding-left:0; text-align: center; margin-top: 25px;}
    .real-lefe-world {height: 245px;}
    .feedback-wrapper { padding: 50px 0; height: 520px;}
    .feedback-wrapper .slider {margin: 0px 0;}
    .feedback-wrapper #owl-two .owl-item.active.center{margin-top: 0px;}
    .feedback-wrapper .slider .owl-dots{bottom: -40px;}
    .footer .stay-touch{    margin-top: 0;}
    .getemail .inputfield input{    padding: 15px 15px;font-size: 16px;}
    .footer { height: 100%; margin-top: 50px;  background: transparent url(../images/footer.png) 100% 100% no-repeat; padding-bottom: 50px;}
    .footer .stay-touch{padding: 30px 30px;   box-shadow: 3px 14px 22px -2px rgba(0,103,255, 0.2);  margin-bottom: 50px;}
    .footer .stay-touch .content-wrapper p{  text-align: center;  margin: 15px 0;}
    .getemail .inputfield a{    font-size: 14px; padding: 14px 0!important;}
    .getemail ul{    margin: 15px 0;}
    .copyright-section div ul{    margin-top: 10px;}
    .copyright-section div{    flex-direction: column;}
    .footer .branding-footer p{    margin-top: 10px;}
    .footer .footer-link h3{    margin-bottom: 10px;}
    /* .percentages{height: 100%; background: #f4fefd; padding: 25px 0;} */
    .new-percentage-a{margin-bottom: 0; padding: 35px 0; height: auto;}
    .new-percentage-a .content-wrapper h3.heading{    font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;}
    .new-percentage-a h6{    font-size: calc(1.4rem + (1.6000000000000014 * (100vw - 400px)/ 624));}
    .the-problem-wrapper .content-wrapper .heading{ font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;     line-height: 36px;}
    .help-wrapper h3.heading{font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;}
    .engage-for-ab{background: #f4fefd; height: 100%; padding: 25px 0;     margin: 25px 0; }
    .smal-team-wrapper h3 span:before{    top: -5px;}
    .the-problem-wrapper {background: transparent; height: 100%; padding: 0px 0;     margin: 0px 0;    text-align: center;}
    .percentages h5 {height: 100%; margin: 25px 0; line-height: 24px;}
    .percentages .content-wrapper {padding: 15px 15px;
        border-radius: 15px;
    background: #fff;
    box-shadow: 0 6px 15px -1px rgba(0,104,255,0.2);}
    section.help-wrapper {margin: 35px 0 0 0;}
    section.help-wrapper br{display: none;}
    .for-middle-content { max-width: 100%; }
    .mission {margin-top: 50px;}
    .mission h3.heading{line-height: 36px;}
    .abouthlp{
        margin: 0 0;
    }
    .offerworld .becomepartnerscl-dw.demand-p-wrapper .cards-wrapper .cards{margin: 15px 0;}
    .offerworld{margin-top: 0;}
    .smal-team-wrapper{padding: 50px 0 0 0;}
    .smal-team-wrapper .content-wrapper p{text-align: center;}
    .smal-team-wrapper .content-wrapper p br{display: none;}
    .mission .for-middle-content .shd{display: none;}
    .smal-team-wrapper .l-img-wrp{display: none;}
    .feedback-wrapper{    height: 320px;}
    .header .navbar .nav-item .nav-link.gradint-btn{    padding: 10px 45px !important;}
    .header .navbar .navbar-nav {align-items: flex-start;}
    .smal-team-wrapper h3 span:before{display: none;}
    .smal-team-wrapper h3{margin-top: 0;}
    .volunteras .content-wrapper{    padding-right: 0px;}
    .whyvolunteer-w .advantage .content-wrapper img{    margin-bottom: 15px;}
    .whyvolunteer-w .advantage .content-wrapper p{height: auto;}
    .whyvolunteer-w .advantage .content-wrapper{margin: 15px 0;}
    .feedback-wrapper { height: 100%; background: none;}
    .volunteer-wrapper .slider .item p{height: auto;}
    .feedback-wrapper .slider .item p{    height: 150px;}
    .help-wrapper .img-wrper img.cs {height: 235px;}
    .the-problem-wrapper .imag-wrapper { display: none;}
    .brand-logo-wrapper .brand-logo ul li{ max-width: 25%;  margin:0px 10px;}
    .add-space {margin-top: 80px;}
    .volunteer-wrapper .slider .item {margin: 35px 15px;}
    .feedback-wrapper .slider .item{box-shadow: 3px 5px 17px -7px rgba(0,104,255,0.2);     margin-top: 50px;     margin-bottom: 50px;}
    .vission-c{background: #f4fefd; height: 100%;padding: 50px 0;}
    .crec{height: auto; }
    .mission .img-wrper img { margin-bottom: 0;}
    .see-feq-full .footer {height: 100%; margin-top:0}
    .see-feq-full .frequently-asked {padding: 50px 0 50px 0;}
    .see-feq-full .for-middle-content {
        max-width: 100%;
    }
    .heading-tab-acc {
        margin-top: 50px;
        padding-left: 0;
    }
    .see-feq-full .frequently-asked #accordion .card{
        margin: 25px 0 0 0;
    }
    .requirements .unlockpotential{padding:0; background: transparent !important;}
    .whyvolunteer-w .unlockpotential{padding:0; background: transparent !important;}
    .demand-p-wrapper.becomepartnerscl-dw{margin: 0 0; padding:35px  0;}
    .partner-s p {max-width: 100%;}
    .spwschool{padding: 50px 0;}
    .spwschool .left-contaner{margin-bottom:0;}
    .demand-p-wrapper .tickerbox.content-wrapper { margin-top: 50px;}
    .demand-p-wrapper .tickerbox .rqust-demos-btn {margin-top: 25px;}
    .m-howitspartner{margin-top: 0;}
    .m-howitspartner.how-its-wok .details{margin-top: 50px;}
    .real-lefe-world.unlockpotential {
        height: 365px;
    }
    .landing-studentcrft{background: url(../images/manualcut.png) 100% 00% no-repeat; background-size: cover;     height: 370px;}
    .landing-studentcrft h2.heading{    font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;}
    .landing-studentcrft h2.heading br{display: none;}
    .feedback-wrapper h3.heading    {font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) ;}
    .feedback-wrapper h3.heading br{display: none;}
    .feedback-wrapper .slider .item .user-detail h6 {
        font-size: 20px;
    }
    .addvhelpyour .heading br{display: none;}
    .addvhelpyour{    background-size: cover;
        height: 370px; background: #fbffff url(../images/manualcut.png) 100% 100% no-repeat;}
        .addvhelpyour h2.heading {
            font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;
        }
        .partner-s{    padding: 50px 0 0 0;}
        .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li{
            justify-content: center;
        }
        .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul {
            display: flex;
            flex-wrap: wrap;
        }
        .brnd-lg-partscl.brand-logo-wrapper{
            margin: 50px 0;
        }
        .spwschool .imgblock{margin-top: 0;}
        .spwschool .imgblock img {
            height: auto;
            min-width: 100%;
        }
        .spwschool{
            padding-top: 50px !important;
            margin: 0 0 0px 0;
        }
        .m-howitspartner{
            padding: 50px 0 0 0;
        }
        .engge-becomeschol{
            height: 300px;
            background: #fbffff url(../images/manualcut.png) 100% 100% no-repeat;
        }
        .how-its-wok .details .process-w img {
            display: block;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .how-its-wok .details .process-w img{
            height: 235px;
            margin: 0 auto;
        }
        .how-its-wok .details .process-w.reverse .row {
            flex-direction: column-reverse;
        }
        .volunteras .imag-wrapper{
            margin-top: 0;
        }
        .volunteras .imag-wrapper img{
            margin-top: 50px;
        }
        .whyadvisorsection h2.heading {
            font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;
        }
        .adnew.whyvolunteer-w .advantage .content-wrapper h5{
            font-size: calc(1.4rem + (1.6000000000000014 * (100vw - 400px)/ 624));
        }
        .requirements h2.heading{
            font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;
         }
         .frequently-asked h3.heading{
            font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;
         }
         .advisor-howts .process-w .row {
            flex-direction: column-reverse;
        }
        .advisor-howts .process-w.reverse .row{
            display: block;
        }
        .become-ad-slider{
            padding: 50px 0;
        }
        .footer .content-wrapper h3.heading{
            font-size: calc(1.4rem + (1.6000000000000014 * (100vw - 400px)/ 624));
            text-align: center;
        }
        .lanidngdemnpwrp .left-contaner{
            margin-bottom: 0px;
        }
        .firsttopcard {
            margin-top: 35px;
        }
        .lanidngdemnpwrp{
            margin:0 0 0 0;
        }
        .lanidngdemnpwrp .mattop .cards:last-child {
            margin-bottom: 0;
        }
        .volunteer-wrapper .content-wrapper h3 span:before{
            display: none;
        }
        .footer .getemail ul{text-align: center;     justify-content: center;}
        .footer .footer-link{
            margin-top: 25px;
        }
        .vission-c .content-wrapper p{margin: 25px 0 0 0;}
        .vission-c .content-wrapper p br{
            display: none;
        }
        .whyvolunteer-w.adnew .unlockpotential .getemail {
            margin-top: 20px;
        }
        .requirements{
            padding: 0 0 50px 0;
        }
        .advisor-howts .details .process-w:last-child{
            margin-bottom: 0;
        }
        .unlockpotential .getemail{ 
            margin-top: 35px;
        }
        .csr-wrapper .imag-wrapper{
            margin-top: 0;
        }
        .percentages.new-percentage-a .row .col-md-3{
            margin-top: 15px;
            margin-bottom:  15px;
        }
        .the-problem-wrapper br{display: none;}
        .spwschool  .tickerbox .rqust-demos-btn {
            margin-top: 15px;
        }
        .whyadvisorsection .advantage .row .col-md-3{
            margin: 15px 0;
        }
        .whyadvisorsection .advantage .content-wrapper{
            margin: 0 0;
        }
        .whyadvisorsection .advantage{ 
            margin-top:35px;
        }
        .whyadvisorsection .advantage .content-wrapper{
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 6px 15px -1px rgba(0,104,255,0.2);
            padding: 15px 15px;
        }
        .whyusepropair .advantage .content-wrapper{
            border-radius: 15px;
            background: #fff;
            box-shadow: 0 6px 15px -1px rgba(0,104,255,0.2);
            padding: 15px 15px;
        }
        .whyusepropair .advantage .content-wrapper p{
            margin-top: 15px;
            margin-bottom: 0;
        }
        .whyusepropair .advantage{
            margin-top: 20px;
        }
        .whyusepropair .advantage .row .col-md-4{
            margin: 15px 0;
        }
        .faq-partner.dyamicfq{
            height: 100%;
        }
        .frequently-asked.faq-partner.dyamicfq #accordion .card{
            margin: 25px 0 0 0;
        }
        .frequently-asked.faq-partner.dyamicfq .see-al{margin-top: 30px;}
        .see-al a {
            margin-top: 0px;
        }
        .engge-becomeschol h2.heading{
            font-size: calc(2rem + (18 * (100vw - 400px)/ 624)) !important;
        }
        .width-fix .card{
            margin: 25px 0 0 0 !important;
        }
}
@media(max-width:575px){
    .requirements{background: transparent !important;}
    .whyvolunteer-w .unlockpotential{ background: transparent !important;}
    .demand-p-wrapper .left-contaner{margin-bottom:0px;}
    .real-lefe-world{background: none;}
    .content-wrapper p{    line-height: 24px;}
    .content-wrapper .rqust-demos-btn a{    font-size: 12px; margin: 0 5px;}
    .request-demo-wrapper {height: 100%;}
    .engage-for-ab { background: #f4fefd;}
    .volunteer-wrapper .slider .item p{height: 100%;}
    .demand-p-wrapper h2 span:before{display: none;}
    .heading {font-size: 20px;}
    .demand-p-wrapper .cards-wrapper .cards .content-wrapper a{    font-size: 12px;}
    .volunteer-wrapper {padding: 15px 0;}
    .volunteer-wrapper .content-wrapper h3 span:before{display: none;}
    .volunteer-wrapper .content-wrapper p {margin: 25px 0;}
    .volunteer-wrapper .slider .item p{    margin: 25px 0;}
    .volunteer-wrapper .slider .item .owner p{     margin: 0 0;   font-size: 14px;}
    .real-lefe-world h2 br{display: none;}
    .real-lefe-world{border-bottom:none;}
    .feedback-wrapper h3.heading br{display: none;}
    .feedback-wrapper .slider .item .user-detail{       margin: 35px 0 0 0;}
    .feedback-wrapper .slider .item .user-detail h6{font-size: 12px;}
    .footer .stay-touch .content-wrapper p{    margin: 25px 0;}
    .getemail ul{      justify-content: center;  margin: 15px 0;}
    .getemail ul li { margin: 0 5px;}
    .footer .branding-footer p{    line-height: 24px;}
    .footer .footer-link h3{ line-height: 24px; font-size: 18px;}
    .copyright-section div ul{flex-direction:column;}
    .mission {margin-top: 50px;}
    section.help-wrapper { margin: 50px 0;}
    .feedback-wrapper {height: 100%;}
    .smal-team-wrapper h3 span:before{  display: none;  top: -10px;}
    .footer .stay-touch .w-100{width:  inherit !important;}

    .demand-p-wrapper .cards-wrapper .cards{text-align: center;}
    .demand-p-wrapper .cards-wrapper .cards .content-wrapper{align-items: center;} 
    .volunteer-wrapper .slider .owl-dots button.owl-dot{    height: 10px; width: 10px;}
    .feedback-wrapper .slider .owl-dots button.owl-dot{    height: 10px; width: 10px;}
    .help-wrapper .for-middle-content { margin-bottom: 1px;}
    /* .engage-for-ab{margin-top: 40px;} */
    .feedback-wrapper .slider .owl-dots {
        bottom: -15px;
    }
   
    .whyvolunteer-w .advantage {  margin-top: 35px;}
    .whyvolunteer-w {padding: 50px 0; background:url(../images/whyvolunteer-w-mobile-bg.png) 100% 100% no-repeat ; background-size: 100%;}
    .frequently-asked{padding: 50px 0; }
    .advisor-howts {padding: 20px 0 !important;}
    .see-al a {margin-top: 0; }
    .unlockpotential .getemail { margin-top: 0;}
    .feedback-wrapper {padding: 50px 0 0 0;}
    .feedback-wrapper #owl-two .owl-item.active.center{margin-top: 0px;}
    .help-wrapper .img-wrper img.cs { height: 245px; margin-top: 25px;}
    .volunteer-wrapper .slider .owl-next { display: none; right: 0px;     height: 30px;  width: 30px;}
    .volunteer-wrapper .slider .owl-prev { display: none; left: 0px; height: 30px;  width: 30px;}
    .add-space {margin-top: 65px;}
    .volunteer-wrapper .slider .owl-next:after {background-size: 50%;     top: -8px;}
    .volunteer-wrapper .slider .owl-prev:after {background-size: 50%;     left: 1px; top: -8px;}
    .advisor-howts{background: transparent;}
    .unlockpotential .for-middle-content { width: 100%;}
    .percentages{height: 100%; background: #f4fefd; padding: 25px 0;}
    .footer .footer-link{    margin-top: 25px;}
    .footer .footer-link a{margin: 0;     line-height: 24px;}
    .footer .footer-link h3{margin-bottom: 0;}
    .branding-footer{    margin-top: 25px;}
    .copyright-section div ul:first-child{border-top: 1px solid #fff; margin-top: 0; padding-top: 10px;}
    .copyright-section{    margin-top: 25px;}
    .heading-tab-acc{margin-top: 25px; font-size: 24px;}
    .see-feq-full .frequently-asked {padding: 50px 0 0 0;}
    /* background images */
    .landing-header-wp{ background: url(../images/landing-mobile-bg.png) 100% 100% no-repeat; background-size: 100%;}
    .landing-header-wp .imag-wrapper {display: block; text-align: center;}
    .landing-header-wp .imag-wrapper img { height: 250px;} 
    .landing-header-wp .content-wrapper p {line-height: 24px;}
    .demand-p-wrapper{background: #f4fffe url(../images/demand-mobile-bg.png) 100% 100% no-repeat; background-position: top; background-size: 100%;       margin: 0 0 0px 0;  padding: 0 0 50px 0;}
    .volunteer-wrapper{background:url(../images/volunteer-mobile-bg.png) 100% 100% no-repeat;  background-size: 100%;     padding: 50px 0;}
    .how-its-wok{ background: #fff url(../images/how-its-wok-mobile-bg.png) 100% 100% no-repeat;   padding: 50px 0 !important; background-size: 100%;background-position: center;}
    .how-its-wok .details .process-w img{display: block; margin-bottom: 0px; margin-top: 0px;}
    .how-its-wok .details .process-w.reverse .row{flex-direction: column-reverse;}
    .real-lefe-world{background: url(../images/real-lefe-world-mobile-bg.png) 100% 100% no-repeat;     height: 400px;  background-position: center;  background-size: cover;}
    .feedback-wrapper{background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(245,255,254,1) 53%, rgba(245,255,254,1) 100%); }
    .footer{background: #f5fffe url(../images/footer.png) 100% 100% no-repeat;     margin-top: 0; padding-top: 50px;}
    .request-demo-wrapper .content-wrapper{    padding-right: 0;}
    .vission-c .content-wrapper p {line-height: 24px;}
    .vission-c{ background: url(../images/landing-mobile-bg.png) 100% 100% no-repeat; background-size: 100%;     height:100%;}
    .vission-c .imag-wrapper {display: block; }
    .vission-c .imag-wrapper img { width: 100%;     height:250px;} 
    .the-problem-wrapper .content-wrapper p {line-height: 24px;}
    .the-problem-wrapper .imag-wrapper{display: block;}
    .the-problem-wrapper.reverse .row{flex-direction: column-reverse;}
    .help-wrapper .content-wrapper p { line-height: 24px;}
    .smal-team-wrapper .content-wrapper p { line-height: 24px;}
    .smal-team-wrapper{text-align: center;background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(245,255,254,1) 53%, rgba(245,255,254,1) 100%);     padding-bottom: 0;}
    .smal-team-wrapper .l-img-wrp {display: block; padding-bottom: 20px;     padding-right: 0px;}
    .smal-team-wrapper .l-img-wrp img{margin-top: 25px;}
    .smal-team-wrapper.reverse .row{flex-direction: column-reverse;}
    .the-problem-wrapper{background: url(../images/the-problem-wrapper-mobile-bg.png) 100% 100% no-repeat; background-size: 100%; }
    .percentages{background: url(../images/the-problem-wrapper-mobile-bg.png) 100% 100% no-repeat; background-size: 100%; height: 100%;}
    .volunteras .imag-wrapper{display: block;}
    .volunteras .imag-wrapper img { height:250px;margin-top: 50px;}
    .volunteras{ background: url(../images/landing-mobile-bg.png) 100% 100% no-repeat !important; background-size: 100% !important; height: 100%;}
    .volunteras .content-wrapper p { line-height: 24px;}
    .whyvolunteer-w .advantage .col-md-3{margin: 15px 0;}
    .whyvolunteer-w .advantage .content-wrapper{background: #fff; border-radius: 12px;      padding: 20px 15px;   box-shadow: 0 6px 15px -1px rgba(0,104,255,0.2);}
    .unlockpotential{background:url(../images/unlockpotential-mobile-bg.png) 100% 100% no-repeat !important; background-size:100%  !important; display: flex; align-items: center;    height: 255px;   padding: 0;background-position: center;}
    .unlockpotential .M-cont-top { margin-top: -25px;}
    .csr-wrapper .content-wrapper p {line-height: 24px;}
    .csr-wrapper .imag-wrapper{display: flex; margin-top: 0;}
    .csr-wrapper .imag-wrapper img{margin-top: 50px;}
    .csr-wrapper{   height:100%; background: url(../images/landing-mobile-bg.png) 100% 100% no-repeat !important; background-size: 100% !important;}
    .whyusepropair{background: url(../images/whyusepropair-mobile-bg.png) 100% 45% no-repeat !important; background-size: 100% !important;     padding: 50px 0 35px 0;}
    .faq-partner{    background: #e3fff7;}
    .real-lefe-world .M-cont-top { margin-top: -30px;}
    .advisor-howts .details .process-w img{margin-bottom: 0 !important;}
    .see-feq-full .for-middle-content {max-width: 100%;}
    .see-feq-full .frequently-asked #accordion .card .card-body{    line-height: 24px;}
    .frequently-asked #accordion .card .card-body{    padding: 0px 20px 18px 20px;}
    .request-demo-wrapper.partner-s .textlft{padding-top: 0;}
    .demand-p-wrapper.becomepartnerscl-dw{background: none;}
    .demand-p-wrapper .tickerbox.content-wrapper {margin-top: 10px;}
    .demand-p-wrapper h2.heading{    margin-top:0px;}
    .the-problem-wrapper .imag-wrapper img {
        height: 250px;
        margin-top: 20px;
    }
    .becomepartnerscl-dw.demand-p-wrapper .cards-wrapper .cards .content-wrapper p {
        line-height: 24px;
    }

    .whyvolunteer-w.whyusepropair .advantage{margin-top: 20px !important;}
    .new-percentage-a{padding: 50px 0;}
    .the-problem-wrapper{    padding: 50px 0;}
    .addvhelpyour{
        height: 440px;
        margin: 0;
    }
    .smal-team-wrapper h3 {
        margin-top: 0;
    }
    .request-demo-wrapper.partner-s .textlft{
        margin-bottom: 30px;

    }
    .spwschool{
        padding-top: 0px !important;
    }
    .tickerbox h2.heading br{display: none;}
    .whyvolunteer-w.adnew .unlockpotential .getemail {
        margin-top:0px;
    }
    .whyvolunteer-w.adnew.whyadvisorsection .unlockpotential {
        height: auto;
        margin-top: 20px;
    }
    .whyvolunteer-w.adnew.requirements .unlockpotential {
        height: auto;
    }
    .real-lefe-world.unlockpotential h2.heading{
        font-size: calc(2rem + (18 * (100vw - 400px)/ 624));
    }
    .whyusepropair .content-wrapper{margin: 0 0 !important;}
    .whyusepropair .advantage{padding-top: 15px;}
    .whyusepropair .advantage .col-md-4{margin-top: 15px; margin-bottom: 15px;}
    .faq-partner.dyamicfq {
        height: 100%;
    }
    .spwschool .tickerbox .rqust-demos-btn {
        margin-top: 25px;
    }
    .volunteer-wrapper .slider .owl-dots {
        bottom: 0px;
    }
    .volunteer-wrapper .content-wrapper .rqust-demos-btn {
        margin:25px 0 0 0;
    }
    .landing-studentcrft{
        height: 445px;
    }
    .aboutpersntg{
        padding: 35px 0;
    }
    .offerworld .textlft{
        margin-bottom: 0 !important;
    }
    .spwschool .imgblock {
        margin-bottom: 0;
    }
    .m-howitspartner .process-w:last-child{
        margin-bottom: 0;
    }
    .demand-p-wrapper .cards-wrapper .cards {
        margin: 15px 0px;
    }

    .volunteer-wrapper .slider .item {
        margin: 25px 0 35px 0px;
    }
    .header .navbar-toggler{
        padding: .25rem  0;
    }
    .volunteer-wrapper .content-wrapper p br{
        display: none;
    }
    .footer .stay-touch{
        background:#fff;
    }
    .mission .img-wrper svg{
        display: none;
    }
    .brands-text-wrapper p{
        font-size: 12px;
        margin-bottom: 25px;
    }
    .brnd-lg-partscl.brand-logo-wrapper .brand-logo ul li:nth-child(3) img {
        height: 25px !important;
        width: 95px;
        max-width: initial;
    }
    .real-lefe-world .content-wrapper p br{display: none;}
    .feedback-wrapper .slider .item p{
        line-height: 24px;
    }
    .volunteras .getemail .inputfield input{
        margin-top: 0;
    }
    .requirment{
        margin-top: 25px;
    }
    .whyvolunteer-w .advantage .content-wrapper p{
        margin-top: 25px;
        margin-bottom: 0;
    }
    .brand-logo-wrapper{
        margin: 25px 0 50px 0;
    }
    .how-its-wok .details .process-w img {
        height: 250px;}
        .demand-p-wrapper .tickerbox.content-wrapper:first-child p {
            margin-top: 25px;
        }

        a.navbar-brand img{height: 41px;}

        .paragrphspace{
            display: block;
            margin-top: 25px;
        }
        .feedback-wrapper .slider .item p {
            height: 192px;
        }
        .feedback-wrapper .profesion span{
            line-height: 18px;
            margin-top: 10px;
        }
        .become-ad-slider .item .profesion span{white-space: nowrap;}
}




@media(min-width:768px)and (max-width:991px){
    .copyright-section div{flex-direction: column;}
    .copyright-section div ul:first-child{margin-bottom: 0;}
    .copyright-section div ul:last-child{margin-top: 0;}
}

@media(min-width:320px)and (max-width:360px){
    .engge-becomeschol{    height: 435px;}
}
@media(min-width:395px)and (max-width:575px){
    .spwschool{
        background-position: center;
    }
    
}